@font-face {
  font-family: 'TildaSans';
  font-style: normal;
  font-weight: 250 1000;
  src: url('../fonts/1Z9BofKwTCYd.woff2') format('woff2-variations'),
       url('../fonts/THwgDv52XOib.woff') format('woff-variations');     
}
@font-face {
  font-family: 'TildaSans';
  font-style: normal;
  font-weight: 300;
  src: url('https://static.tildacdn.com/fonts/tildasans/TildaSans-Light.eot');
  src: url('https://static.tildacdn.com/fonts/tildasans/TildaSans-Light.eot?#iefix') format('embedded-opentype'),
       url('../fonts/1Z9BofKwTCYd.woff2') format('woff2-variations'),
       url('../fonts/THwgDv52XOib.woff') format('woff-variations'),
       url('../fonts/AG90WYA9OGZ5.woff2') format('woff2'),
       url('../fonts/dCBjOtOwwPTh.woff') format('woff');
}
@font-face {
  font-family: 'TildaSans';
  font-style: normal;
  font-weight: 400;
  src: url('https://static.tildacdn.com/fonts/tildasans/TildaSans-Regular.eot');
  src: url('https://static.tildacdn.com/fonts/tildasans/TildaSans-Regular.eot?#iefix') format('embedded-opentype'),
       url('../fonts/1Z9BofKwTCYd.woff2') format('woff2-variations'),
       url('../fonts/THwgDv52XOib.woff') format('woff-variations'),  
       url('../fonts/8el5pS0Jwxp7.woff2') format('woff2'),
       url('../fonts/6S84wPTU4Ijh.woff') format('woff');
}
@font-face {
  font-family: 'TildaSans';
  font-style: normal;
  font-weight: 500;
  src: url('https://static.tildacdn.com/fonts/tildasans/TildaSans-Medium.eot');
  src: url('https://static.tildacdn.com/fonts/tildasans/TildaSans-Medium.eot?#iefix') format('embedded-opentype'),
       url('../fonts/1Z9BofKwTCYd.woff2') format('woff2-variations'),
       url('../fonts/THwgDv52XOib.woff') format('woff-variations'),  
       url('../fonts/FTkxfjVQ2rd1.woff2') format('woff2'),
       url('../fonts/b4vesIf31oBd.woff') format('woff');
}
@font-face {
  font-family: 'TildaSans';
  font-style: normal;
  font-weight: 600;
  src: url('https://static.tildacdn.com/fonts/tildasans/TildaSans-Semibold.eot');
  src: url('https://static.tildacdn.com/fonts/tildasans/TildaSans-Semibold.eot?#iefix') format('embedded-opentype'),
       url('../fonts/1Z9BofKwTCYd.woff2') format('woff2-variations'),
       url('../fonts/THwgDv52XOib.woff') format('woff-variations'),  
       url('../fonts/eKuaWrNEf7Ed.woff2') format('woff2'),
       url('../fonts/RaBwivhJaTOQ.woff') format('woff');
}
@font-face {
  font-family: 'TildaSans';
  font-style: normal;
  font-weight: 700;
  src: url('https://static.tildacdn.com/fonts/tildasans/TildaSans-Bold.eot');
  src: url('https://static.tildacdn.com/fonts/tildasans/TildaSans-Bold.eot?#iefix') format('embedded-opentype'),
       url('../fonts/1Z9BofKwTCYd.woff2') format('woff2-variations'),
       url('../fonts/THwgDv52XOib.woff') format('woff-variations'),  
       url('../fonts/8xCryj2Znc4a.woff2') format('woff2'),
       url('../fonts/sjS5EuTgoKdb.woff') format('woff');
}
@font-face {
  font-family: 'TildaSans';
  font-style: normal;
  font-weight: 800;
  src: url('https://static.tildacdn.com/fonts/tildasans/TildaSans-Extrabold.eot');
  src: url('https://static.tildacdn.com/fonts/tildasans/TildaSans-Extrabold.eot?#iefix') format('embedded-opentype'),
       url('../fonts/1Z9BofKwTCYd.woff2') format('woff2-variations'),
       url('../fonts/THwgDv52XOib.woff') format('woff-variations'),  
       url('../fonts/IMIqIZxgE0du.woff2') format('woff2'),
       url('../fonts/eAGtrADGkryu.woff') format('woff');
}
@font-face {
  font-family: 'TildaSans';
  font-style: normal;
  font-weight: 900;
  src: url('https://static.tildacdn.com/fonts/tildasans/TildaSans-Black.eot');
  src: url('https://static.tildacdn.com/fonts/tildasans/TildaSans-Black.eot?#iefix') format('embedded-opentype'),
       url('../fonts/1Z9BofKwTCYd.woff2') format('woff2-variations'),
       url('../fonts/THwgDv52XOib.woff') format('woff-variations'),  
       url('../fonts/tRacAKFhJ4HQ.woff2') format('woff2'),
       url('../fonts/RtLlrwVLnlks.woff') format('woff');
}
