@font-face {
  font-family: 'TildaSans';
  font-style: normal;
  font-weight: 250 1000;
  src: url('../fonts/gm9qoFdvLSKA.woff2') format('woff2-variations'),
       url('../fonts/iVImH804ZHYL.woff') format('woff-variations');     
}
@font-face {
  font-family: 'TildaSans';
  font-style: normal;
  font-weight: 300;
  src: url('https://static.tildacdn.com/fonts/tildasans/TildaSans-Light.eot');
  src: url('https://static.tildacdn.com/fonts/tildasans/TildaSans-Light.eot?#iefix') format('embedded-opentype'),
       url('../fonts/gm9qoFdvLSKA.woff2') format('woff2-variations'),
       url('../fonts/iVImH804ZHYL.woff') format('woff-variations'),
       url('../fonts/COqSZ5wCdZh5.woff2') format('woff2'),
       url('../fonts/tvL3zEdybINj.woff') format('woff');
}
@font-face {
  font-family: 'TildaSans';
  font-style: normal;
  font-weight: 400;
  src: url('https://static.tildacdn.com/fonts/tildasans/TildaSans-Regular.eot');
  src: url('https://static.tildacdn.com/fonts/tildasans/TildaSans-Regular.eot?#iefix') format('embedded-opentype'),
       url('../fonts/gm9qoFdvLSKA.woff2') format('woff2-variations'),
       url('../fonts/iVImH804ZHYL.woff') format('woff-variations'),  
       url('../fonts/RYEejvTNn3ks.woff2') format('woff2'),
       url('../fonts/YOBfHaXRijSx.woff') format('woff');
}
@font-face {
  font-family: 'TildaSans';
  font-style: normal;
  font-weight: 500;
  src: url('https://static.tildacdn.com/fonts/tildasans/TildaSans-Medium.eot');
  src: url('https://static.tildacdn.com/fonts/tildasans/TildaSans-Medium.eot?#iefix') format('embedded-opentype'),
       url('../fonts/gm9qoFdvLSKA.woff2') format('woff2-variations'),
       url('../fonts/iVImH804ZHYL.woff') format('woff-variations'),  
       url('../fonts/hvdyZkgCKUgV.woff2') format('woff2'),
       url('../fonts/9Nw3Q4GfP1sf.woff') format('woff');
}
@font-face {
  font-family: 'TildaSans';
  font-style: normal;
  font-weight: 600;
  src: url('https://static.tildacdn.com/fonts/tildasans/TildaSans-Semibold.eot');
  src: url('https://static.tildacdn.com/fonts/tildasans/TildaSans-Semibold.eot?#iefix') format('embedded-opentype'),
       url('../fonts/gm9qoFdvLSKA.woff2') format('woff2-variations'),
       url('../fonts/iVImH804ZHYL.woff') format('woff-variations'),  
       url('../fonts/ZI0ZAVKOYa3J.woff2') format('woff2'),
       url('../fonts/7M16NnA2hT5P.woff') format('woff');
}
@font-face {
  font-family: 'TildaSans';
  font-style: normal;
  font-weight: 700;
  src: url('https://static.tildacdn.com/fonts/tildasans/TildaSans-Bold.eot');
  src: url('https://static.tildacdn.com/fonts/tildasans/TildaSans-Bold.eot?#iefix') format('embedded-opentype'),
       url('../fonts/gm9qoFdvLSKA.woff2') format('woff2-variations'),
       url('../fonts/iVImH804ZHYL.woff') format('woff-variations'),  
       url('../fonts/58fy9UZq5jVH.woff2') format('woff2'),
       url('../fonts/090UoGH6B6EK.woff') format('woff');
}
@font-face {
  font-family: 'TildaSans';
  font-style: normal;
  font-weight: 800;
  src: url('https://static.tildacdn.com/fonts/tildasans/TildaSans-Extrabold.eot');
  src: url('https://static.tildacdn.com/fonts/tildasans/TildaSans-Extrabold.eot?#iefix') format('embedded-opentype'),
       url('../fonts/gm9qoFdvLSKA.woff2') format('woff2-variations'),
       url('../fonts/iVImH804ZHYL.woff') format('woff-variations'),  
       url('../fonts/vbr1S9qGre2C.woff2') format('woff2'),
       url('../fonts/E7TM21mvlqCp.woff') format('woff');
}
@font-face {
  font-family: 'TildaSans';
  font-style: normal;
  font-weight: 900;
  src: url('https://static.tildacdn.com/fonts/tildasans/TildaSans-Black.eot');
  src: url('https://static.tildacdn.com/fonts/tildasans/TildaSans-Black.eot?#iefix') format('embedded-opentype'),
       url('../fonts/gm9qoFdvLSKA.woff2') format('woff2-variations'),
       url('../fonts/iVImH804ZHYL.woff') format('woff-variations'),  
       url('../fonts/Tdf4sdqKvE65.woff2') format('woff2'),
       url('../fonts/TcZHbR1spz5H.woff') format('woff');
}
